@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

.fontStyle{
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 400;
    font-size: 22px;
}